# GITIGNORE FOR THE PROJECT
#ignorer les fichiers de cache.
/__pycache__/

#-------------------------------------------
# GITIGNORE FOR one_cam_setup FILE.
#ignorer les fichiers de cache.
/one_cam_setup/__pycache__/

#ignorer les fichiers d'animation .json
/one_cam_setup/*.json

#ignorer les fichiers de calibration photo
/one_cam_setup/calibration_images/*.jpg
/one_cam_setup/calibration_images/

#ignorer le fichier de calibration
/one_cam_setup/camera_calibration.pkl

#-------------------------------------------
#GITIGNORE FOR two_cam_setup FILE.
#ignorer les fichiers de cache.
/two_cam_setup/__pycache__/
/two_cam_setup/calib_c1/
/two_cam_setup/calib_c2/

/two_cam_setup/c1/
/two_cam_setup/c2/
/two_cam_setup/sc1/
/two_cam_setup/sc2/

#Ingorer pour la bd
/bd.sql