#ignorer les fichiers de cache.
/__pycache__/

#ignorer les fichiers d'animation .json
/*.json

#ignorer les fichiers de calibration photo
/calibration_images/

#ignorer le fichier de calibration
/camera_calibration.pkl

